.notes__titles__item {
  margin-top: 8px;
  padding: 16px;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  &-active {
    background: #6167d1;
    color: #fff;
    cursor: default;
  }
}