.notes__new {
  &__label {
    color: #2f159a;
    font-size: 26px;
    font-weight: bold;

    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }
  &__title, &__content {
    width: 100%;
    padding: 8px 16px;
    font-size: 18px;
  }
  &__save {
    width: fit-content;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    background: #6167d1;
    color: #fff;
    cursor: pointer;
  }
}