<form [formGroup]="newNoteForm" (ngSubmit)="onSubmit()">
  <div class="notes__new__label">Заголовок</div>
  <input class="notes__new__title" formControlName="title" />
  <div class="notes__new__label">Контент</div>
  <textarea 
    class="notes__new__content" 
    rows="12" 
    formControlName="content"
  ></textarea>
  <button class="notes__new__save" type="submit">Сохранить</button>
</form>
