<div class="notes">
  <aside class="notes__titles">
    <a [routerLink]="['/', i]" *ngFor="let note of notes; let i = index">
      <app-title [active]="i == noteId" [title]="note.title"></app-title>
    </a>
    <button 
      class="notes__new" 
      [class]="{'notes__new-active': noteNew}"
      [routerLink]="['/new']"
    >Добавить</button>
  </aside>
  <section class="notes__content">
    <app-content *ngIf="noteId !== -1 && !noteNew" [note]="notes[noteId]"></app-content>
    <app-new *ngIf="noteNew" (newNoteEvent)="addNote($event)"></app-new>
  </section>
</div>
