.notes {
  display: flex;
  height: calc(100vh - 50px);

  &__titles {
    min-width: 250px;
    padding: 8px;
    border-right: 3px solid #000;
    background: #eeeeee;
  }
  &__content {
    width: 100%;
    padding: 16px 48px 16px 16px;
    overflow-y: scroll;
  }
  &__new {
    margin-top: 48px;
    padding: 16px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    &:hover, &-active {
      background: #6167d1;
      color: #fff;
    }
  }
}