* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  width: 100%;
  border: none;
  color: inherit;
  text-align: inherit;
}